@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --text-color: #000000;
}

body:not(.footer) {
  color: var(--text-color);
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 9% auto;
  padding: 10px;
  padding-top: 60px;
}

.header {
  border-radius: 50px;
  position: fixed;
  top: 0;
  width: 90%;
  backdrop-filter: blur(5px);
  background-color: #00000040;
  text-align: center;
  margin: 1%;
  left: 50%;
  transform: translate(-51%);
}

.footer {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  text-align: center;
}
