@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --background-2: #454545;
  --background-dark: #000000;
  --background-dark-2: #5d5d5d;
  --text-color: #000000;
  --text-color-dark: #ffffff;
  --link-light-color: #e0b7ff;
  --link-dark-color: #7f3fb1;
  --header-light-bg: #00000090;
  --header-dark-bg: #ffffff50;
  --footer-light-bg: #5a5a5a;
  --footer-dark-bg: #c5c5c5;
  --hover-light: #30303082;
  --hover-dark: #ffffff82;
}

html {
  position: relative;
  min-height: 100%;
}

html {
  /* Font styling starts here */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
  /*Font styling ends here*/

  background-image: linear-gradient(
    to bottom right,
    var(--background),
    var(--background-2)
  );
}

body {
  margin: auto;
  padding: 25px;
}

.header {
  display: flex;
  align-items: center;
  border-radius: 50px;
  position: sticky;
  top: 2%;
  width: 90%;
  text-align: center;
  margin: auto;
  align-content: center;
}

.logo {
  display: flex;
  text-align: left;
  backdrop-filter: blur(5px);
  background-color: var(--header-light-bg);
  opacity: 0.9;
  border-radius: 100px;
  padding: 15px;
  margin: 5px;
}

.main-logo {
  filter: invert(1);
}

.social-links {
  text-decoration: none;
  color: var(--link-light-color);
}

.footer {
  background-color: var(--footer-light-bg);
  color: var(--text-color-dark);
  text-decoration: none;
  margin: auto;
  margin-bottom: 1%;
  padding: 5px;
  position: relative;
  height: 50%;
  width: 95%;
  text-align: center;
  border-radius: 20px;
}

.social-icons {
  filter: invert(1);
  max-height: 18px;
  align-items: center;
  text-align: center;
}

/* Dark mode colors */
html.dark {
  color: var(--text-color-dark);
  background-image: linear-gradient(
    to bottom right,
    var(--background-dark-2),
    var(--background-dark)
  );
}

.dark .footer {
  background-color: var(--footer-dark-bg);
  color: var(--text-color);
}

.dark .logo {
  background-color: var(--header-dark-bg);
}

.dark .main-logo {
  filter: invert(0);
}

.dark .social-icons {
  filter: invert(0);
}

.social-links {
  color: var(--link-light-color);
}
.dark .social-links {
  color: var(--link-dark-color);
}
