@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./header.css";
@import "./footer.css";

:root {
  /*Background Colors*/
  --background: #ffffff;
  --background-2: #dddddd;
  --background-dark: #000000;
  --background-dark-2: #505050;

  /*Text and link Colors*/
  --text-color: #000000;
  --text-color-dark: #ffffff;
  --link-light-color: #3d3d3d;
  --link-dark-color: #d0d0d0;

  /*Header Color*/
  --header-light-bg: #00000010;
  --header-dark-bg: #ffffff10;
  --hover-light: #ffffff90;
  --hover-dark: #00000090;
  --no-hover-light: #ffffff50;
  --no-hover-dark: #00000050;

  /*Footer Color*/
  --footer-light-bg: #5a5a5a;
  --footer-dark-bg: #c5c5c5;
}

html {
  position: relative;
  min-height: 100%;
  width: auto;
  height: auto;
}

html {
  /* Font styling */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);

  background-image: linear-gradient(
    to bottom right,
    var(--background),
    var(--background-2)
  );
}

body {
  padding: 25px;
  margin: auto;
}

/* Dark mode colors  */
html.dark {
  color: var(--text-color-dark);
  background-image: linear-gradient(
    to bottom right,
    var(--background-dark-2),
    var(--background-dark)
  );
}
