---
import Layout from "../layouts/Layout.astro";
const pageTitle = "My Projects";
---

<Layout pageTitle={pageTitle}>
  <body>
    <h1>SOON (TM)</h1>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</Layout>
