---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Resumé";
---

<Layout pageTitle={pageTitle}>
  <body>
    <h1>Dhruv Kakade</h1>
    <p>
      Bangalore, India LinkedIn: linkedin.com/in/dvke5 | Website:
      dvke5.github.io | ORCiD: 0009-0006-3550-6644
    </p>
    <h2>EDUCATION</h2>
    REVA University | Bangalore, India Bachelor of Technology in Aerospace Engineering
    CGPA: xx/10(sem 6) 2023 - 27
    <p>
      Department of Pre-University Education (DPUE) |Bangalore, India St.
      Joseph’s Pre-University College - Class 12 (2nd PUC) Percentage: xx% 2022
      – 23
    </p>

    <p>
      Council for the Indian School Certificate Examinations (ICSE) | Bangalore,
      India The Frank Anthony Public School - Class 10 Percentage: xx% 2020 – 21
    </p>

    <h2>Course work:</h2>
    Rocket Propulsion, Satellite Communication, Orbital Mechanics, Hypersonics, Communication
    Systems, Gas Dynamics, Control Engineering, Flight Mechanics, Material Science,
    Astrophysics, Gas Turbines, Structures, CFD, FEM, Semiconductor Manufacturing
    and Testing
    <h2>Self Study:</h2>
    Control Theory, PCB Designing, Rocketry, Aeromodelling

    <h2>TECHNICAL SKILLS</h2>
    Software: CATIA, Solidworks, ANSYS (Static Structural and Fluent), General Mission
    Analysis Tool (GMAT), Python, MATLAB and Simulink, C++, LaTeX, SimScale, Deep
    Learning, KiCad, Onshape, OpenRocket, OpenMotor, Flow5

    <p>Other: 3DPrinting, Solder, Lathe, GD&T, PCB Design, Machine Shop</p>

    <p>PROJECTS</p>
    Solid Propellant M-Class Rocket Mar 2025 - Present Develop an M-class solid rocket
    with active stabilization for a 10,000ft apogee. Implemented with Thrust Vector
    Control and a contour nozzle. Designed a rocket with apogee reaching 10,000 ft
    with an optimized 100% reusable nozzle. Sounding Rocket Workshop Test Launch Vehicle
    Sept 2025 - Mar 2026 Build a functional sounding rocket using low-cost materials
    for the sounding rocketry workshop. Programmed a flight computer using ESP32 and
    implemented a Kalman filter to process BMP280 and DHT 11 data for precise altitude,
    temperature, pressure and humidity data. Verified a 461m apogee with stabilized
    data transmission via LoRa while powered by a G220 SRM. Solid Propellant J-Class
    Rocket (launch pending) Sept 2025 - Mar 2026 Designed and fabricated a model rocket
    with Thrust Vector Control to reach a 3,000 ft apogee. Implemented PID controller
    using a mix of COTS and custom hardware. Verified TVC response and motor thrust
    curves through ground-based static testing and software simulations. 0.5U CubeSat
    Mar 2025 To design a cubesat capable of sending telemetry (weather data) using
    LoRa. Used ESP32 for computation with sensors DHT11, BMP180 and LoRa for radio
    telemetry. Validated telemetry transmission via drop testing from an RC aircraft.
    Rover Rocker Boogie Suspension System Aug 2024 Design of the suspension system
    used is rovers such as Curiosity and Pragyan. Fabricated with integration of ESP32-CAM
    and OpenCV to implement basic object detection via video stream. Awarded 1st Place
    in Model Exhibition on National Space Day 2024 for technical depth and fabrication.
    RC Aircraft Nov 2024 Participated in a technical workshop to fabricate an RC aircraft
    for use as a payload deployment testbed. Added main electronics such as motor,
    ESC, receiver and servos for controls and deployment. Successfully conducted test
    flights basic control response for dropping payload using servos. EXPERIENCE Zayn
    Aerospace | Lathrope, CA, United States (Remote) Intern Feb 2026 - Present Designed
    and developed multi-rotor UAV platforms. Utilized CAD software to model airframe
    components and estimate weight distribution. Delivered finalized design and technical
    documentation that met the specified mission endurance and payload requirements.
    STAR Rocketry Team | REVA University, Bangalore, India Co-Team Lead Oct 2024 -
    Present Developed Model Rockets and CanSats/CubeSats for competitions and research.
    Designed and developed solid propelled rockets with avionics and propulsion systems.
    Delivered successful Rockets and Sats while mentoring juniors strengthening team
    capability. PUBLICATIONS Kakade D., Performance Analysis of a J-Class Solid Rocket
    Motor, Taylor & Francis, Q2 Journal through Conference Presented (Under peer review)
    AWARDS AND RECOGNITION Department topper from 1st semester. Conducted Sounding
    Rocketry Workshop for REVA University students of class 2024-28 Aerospace Engineering.
    Presented a Research Paper at Dayanand Sagar College of Engineering DMMES-2k26
    International Conference on “Performance Analysis Of a J-Class Solid Rocket Motor”.
    Presented a Technical Paper at Fluid Power R&D Confluence titled “Failure Prediction
    in Aircraft Hydraulic Systems: A Review”. Seed fund of 90,000 INR sanctioned by
    REVA University for a High Powered Solid Propellant Rocket project. Best Performer
    Award during SDC “Advanced UAV Technologies by AEROGO”. Best Performer Award during
    SDC “Advanced Python & Machine Learning Foundation”. 1st place in Quiz Competition
    and 2nd place in Debate Competition on National Space Day 2025. 1st Place in Model
    Exhibition and Quiz Competition on National Space Day 2024. 3rd Prize REVA Genesis
    Technical Exhibition. Showcased an RC airplane with a CanSat. Best Research Paper
    Award at ERCAM International Conference at NMIT, Bangalore. CERTIFICATIONS Goethe-Institut
    CEFR Level A1 Certified in German
  </body>

  <em>*certificates to all the above are posted on my LinkedIn</em>

  <h2>Lanuages</h2>
  <ul>
    <li>English</li>
    <li>German</li>
    <li>Hindi</li>
    <li>Japanese</li>
  </ul>
</Layout>
