---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Resumé";
---

<Layout pageTitle={pageTitle}>
  <body>
    <h1>About Me</h1>
    <p>
      A passionate Aerospace Engineering student at REVA University with
      expertise in solid propulsion, computer science and electronics. As
      Technical Head of REVA STAR Club and a key member of Team JETS, I’ve led
      and contributed to the design and development of rockets, CanSats and
      PCBs. Certified in Advanced Python & Machine Learning and CATIA V5, with a
      strong technical foundation. Awarded best paper at the ERCAM International
      Conference (NMIT) for Design and Characterization of Al7075-Beryl-Graphene
      Hybrid Nano-Metal Matrix Composites. I combine software skills with
      engineering expertise to tackle interdisciplinary challenges. I have
      acquired proficiency in multiple spoken languages, programming languages
      and software applications.
    </p>
    <h2>Education</h2>
    <ul>
      <li>
        <dt>
          <dl><strong>REVA University, Bangalore</strong></dl>
          <dl><em>B. Tech. Aerospace Engineering</em></dl>
          <dl>September 2021 - Present</dl>
        </dt>
      </li>
      <li>
        <dt>
          <dl>
            <strong>St. Joseph’s Pre University College, Bangalore</strong>
          </dl>
          <dl>
            <em>Science - Physics, Chemistry, Math and Computer Science</em>
          </dl>
          <dl>September 2021 - March 2023</dl>
        </dt>
      </li>
      <li>
        <dt>
          <dl><strong>The Frank Anthony Public School, Bangalore</strong></dl>
          <dl><em>School</em></dl>
          <dl>April 2010 - March 2021</dl>
        </dt>
      </li>
    </ul>

    <h2>Projects / Experience</h2>
    <ul>
      <li>
        Technical Head of REVA STAR Club Official Satellite and Rocketry Club of
        REVA University (Oct 2024 - Present)
      </li>
      <li>
        Member of Team JETS an Interdisciplinary Independent Team Driven by
        Students
      </li>
      <li>Solid Propellant Rocket (Ongoing)</li>
      <li>RC Aircrafts</li>
      <li>Effect of Stiffness on Flutter Instability (Ongoing)</li>
    </ul>

    <h2>Interests</h2>
    <ul>
      <li>Rocketry and Aeromodelling</li>
      <li>Music and Guitar</li>
      <li>Research</li>
      <li>Reading Books</li>
      <li>Programming</li>
    </ul>

    <h2>Certifications</h2>
    <ul>
      <li>RC Aircraft Workshop, AEROGO</li>
      <li>Python Coding with Application Projects and Solution, AiTron</li>
      <li>Advanced Python & Machine Learning Foundation, AiTron</li>
      <li>Basic UAV Design Workshop, AEROGO</li>
      <li>Advanced UAV Design Workshop, AEROGO</li>
      <li>Rocket Design Workshop, thrustMIT</li>
      <li>Vocational Training on Mastering CATIA V5</li>
    </ul>
    <em>*certificates to all the above on my LinkedIn</em>

    <h2>Skills</h2>
    <ul>
      <li>CAD: CATIA, OnShape, SolidWorks</li>
      <li>
        Simulation: OpenRocket and OpenMotor, XFLR5, SimScale, ANSYS, FEA, CFD
      </li>
      <li>Programming: VSCode, C++, Dart, Javascript, Python, Deep Learning</li>
      <li>Aero-modelling</li>
      <li>PCB: KiCad</li>
      <li>Rocketry - Solid Propellant rockets</li>
    </ul>

    <h2>Awards, Participation and Recognition</h2>
    <ul>
      <li>
        Best Research Paper Award at ERCAM International Conference at NMIT,
        Bengaluru
      </li>
      <li>3rd Prize REVA Genesis Technical Exhibition</li>
      <li>1st Place in Model Exhibition on National Space Day</li>
      <li>1st place in Quiz Competition on National Space Day</li>
      <li>
        Best Performer Award during SDC “Advanced Python & Machine Learning
        Foundation”
      </li>
      <li>
        Best Performer Award during SDC “Advanced UAV Technologies by AEROGO”
      </li>
      <li>
        Certificate of Appreciation for securing 99% of attendance in class 11
      </li>
      <li>3rd Semester Topper Award 2025</li>
      <li>Participated in R—Create Project Expo 2025</li>
    </ul>
    <em>*certificates to all the above are posted on my LinkedIn</em>

    <h2>Lanuages</h2>
    <ul>
      <li>English</li>
      <li>German</li>
      <li>Hindi</li>
      <li>Japanese</li>
    </ul>
  </body>
</Layout>
