---
import Social from "./Social.astro";
---

<p>Designed and developed by Dhruv Kakade (dvke5, deltakiro)</p>
<Social website="https://github.com" username="dvke5" platform="GitHub" />
<Social
  website="https://linkedin.com/in"
  username="dvke5"
  platform="LinkedIn"
/>
<Social website="https://fiverr.com" username="" platform="Fiverr" />
