---
import Navigation from "./Navigation.astro";
import Logo from "../assets/logo.svg";
---

<span class="logo">
  <a href="/" class="main-logo" aria-label="Main logo of the website">
    <Logo />
  </a>
</span>

<span class="navigation">
  <Navigation />
</span>
