---
import Hamburger from "./Hamburger.astro";
---

<Hamburger />
<div class="links">
  <a href="/">Home</a>
  <a href="/resume">My Resumé</a>
  <a href="/projects">My Projects</a>
  <a href="/about">About me</a>
</div>
