---
import Logo from "../assets/logo.svg";
import "../styles/navigation.css";
import Hamburger from "./Hamburger.astro";
---

<html>
  <head>
    <style></style>
  </head>
  <body>
    <Hamburger />
    <div class="links">
      <a class="home" href="/">Home</a>
      <a class="resume" href="/resume">My Resumé</a>
      <a class="projects" href="/projects">My Projects</a>
      <a class="about" href="/about">About me</a>
    </div>
  </body>
</html>
