---
import Logo from "../assets/logo.svg";
---

<html>
  <head>
    <style>
      .links {
        transform: translate(0%, -50%);
      }
    </style>
  </head>
  <body>
    <span class="links">
      <a href="/dvke5.github.io/resume">My Resumé</a>
      <a href="/dvke5.github.io/projects">My Projects</a>
      <a href="/dvke5.github.io/about">About me</a>
    </span>
  </body>
</html>
