---
import Logo from "../assets/logo.svg";
---

<html>
  <head>
    <style>
      .main-logo {
        height: 2px;
        padding: 20px auto;
      }
    </style>
  </head>
  <body>
    <a href="/" class="main-logo"><Logo /></a>
    <a href="./resume">My Resumé</a>
    <a href="./projects">My Projects</a>
    <a href="./about">About me</a>
  </body>
</html>
