---
import Logo from "../assets/logo.svg";
import "../styles/navigation.css";
---

<html>
  <head>
    <style></style>
  </head>
  <body>
    <span class="links">
      <a class="home" href="/dvke5.github.io/">Home</a>
      <a class="resume" href="/dvke5.github.io/resume">My Resumé</a>
      <a class="projects" href="/dvke5.github.io/projects">My Projects</a>
      <a class="about" href="/dvke5.github.io/about">About me</a>
    </span>
  </body>
</html>
