---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="This a a website that tells about Dhruv Kakade or dvke5 ot Delta Kiro or Delta Kilo or deltakiro"
    />
    <meta />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body>
    <div class="header">
      <Header />
    </div>
    <slot />
    <div class="footer" id="footer">
      <Footer />
    </div>
  </body>
</html>
